@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

body,
html,
div.board,
div#react-container {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.rGrid {
    height:800px;
}

.rGridStyle  table, th, td  {
    border: 1px solid black; 
}

.rGridStyle th{
    background-color: black;
}

.photo {
   width:25px;height:25px;
}

.gridTextBox {

}